---
// Education.astro
import Section from "./Section.astro";

interface Props {
  education: {
    degree: string;
    institution: string;
    graduation: string;
  }[];
}

const { education } = Astro.props;
---

<Section text="Education" href="education">
  <div class="text-neutral text-sm space-y-6 leading-relaxed">
    {
      education.map(({ degree, institution, graduation }) => (
        <div>
          <p class="font-semibold text-white">{degree}</p>
          <p class="text-white/70">{institution}, {graduation}</p>
        </div>
      ))
    }
  </div>
</Section>
