---
// Skills.astro
import Section from "./Section.astro";

interface Props {
  skills: string[];
}

const { skills } = Astro.props;
---

<Section text="Skills" href="skills">
  <ul class="grid grid-cols-2 md:grid-cols-3 gap-2 list-disc list-inside text-neutral text-sm leading-relaxed">
    {skills.map((skill) => (
      <li class="text-white/80">{skill}</li>
    ))}
  </ul>
</Section>
